/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	color: #505050;
	margin: 0;
}

header {
    text-align: center;
}

#main-header {
    background-color: #122135c7;
    color: #FFF;
    padding: 1.5rem;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.heading {
    padding: 1rem;
}

.title {
    font-weight: 700;
    font-size: 1.1rem;
}

.summary {
    /*color: #838383;*/
    font-size: .85rem;
    margin-top: 1rem;
}

main {
    padding: 1rem;
}

form {
    border-top: 5px double;
}

fieldset:first-child {
    border-bottom: 2px solid;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

legend {
    font-size: 1.2rem;
    font-weight: 700;
}

label {
    display: block;
    margin-top: 1.5rem;
    font-size: .85rem;
    font-weight: 100;
}

input, 
select, 
textarea {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 1rem;
    font-size: .85rem;
    border: 1px solid;
    border-radius: .3rem;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

::placeholder {
    color: #ababab;
    font-style: italic;
    text-align: right;
    padding-right: .1rem;
}

textarea {
    height: 100px;
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid rgb(18 33 53 / 78%);
}

#zip {
    max-width: 50%;
    margin-bottom: 2rem;
}

fieldset:last-child input{
    width: auto;
    display: inline-block;
    margin: 0 4px 0 0;
    vertical-align: middle;
}

fieldset:last-child label{
    display: inline-block;
    /*color: #838383;*/
    font-size: .85rem;
}

.newsletter-summary {
    /*color: #838383;*/
    font-size: .85rem;
    margin-top: 1rem;
    font-weight: lighter;
}

.newsletter-format {
    /*color: #838383;*/
    font-size: .85rem;
    margin-top: 2rem;
    font-weight: lighter;
}

.topics {
    margin-top: 2rem;
}

button {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    padding: 18px 20px;
    color: #FFF;
    background-color: #4bc9c9;
    border-radius: .3rem;
    width: 100%;
    border: 1px solid #4bc9c9;
    margin: 1rem auto;
}

.copyright {
    color: #ababab;
    font-size: .85rem;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
    .heading {
        max-width: 680px;
        margin: 0 auto;
        padding: 3rem 0 2rem 0;
    }
    
    form {
        max-width: 680px;
        margin: 0 auto;
    }
    
    fieldset:first-child {
        border-bottom: 2px solid;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    fieldset:first-child label {
        flex: 1 10%;
    }

    fieldset:first-child input, select {
        flex: 1 75%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .row-alt {
        margin-top: 1rem;
    }

    .row-alt label{
        display: inline-block;
        padding-right: 3.6rem;
    }

    .row-alt input{
        display: inline-block;
    }

    #zip {
        max-width: 25%;
        margin-bottom: 2rem;
    }
}


